<!DOCTYPE html>

<html>
<head>
 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-2.1.3.js")"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("JavaScript", required: false)
</head>
<body style="padding:0">
    <div class="navbar navbar-inverse navbar-static-top" style="padding-top: 0p">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-toggle"></span>
                </button>
                @Html.ActionLink("Inter-Warsztat", "Index", "ClientPanel", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")

                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-3">

                <h3><i class="glyphicon glyphicon-briefcase"></i> Panel</h3>


                <ul class="nav nav-stacked">
                    <li> @Html.ActionLink(" Moje Pojazdy", "MyVehicles", "ClientPanel")</li>
                    <li> @Html.ActionLink(" Naprawy", "MyRepair", "ClientPanel")</li>
                    <li>@Html.ActionLink("Statusy Napraw", "MyStatusRapair", "ClientPanel")</li>
                    <li>@Html.ActionLink("Zgody Napraw", "MyPermission", "ClientPanel")</li>
      
                </ul>


            </div>
            <div class="col-sm-8">


                <div class="row">



                    <div class="body-content container">
                        @RenderBody()
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div style="padding-top: 10px">
        <footer div class="navbar-fixed-bottom" style="font-size: 11px; margin-top: 100%; font-weight: 200; line-height: 2.1428571435; color: inherit; background-color: #eeeeee;">
            <div style="text-align:right">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFooter" aria-expanded="false" aria-controls="collapseFooter">
                    CopyRights
                </button>
            </div>
            <div class="collapse" id="collapseFooter">
                <div class="well">
                    <p>Copyright ©2015, All Rights Reserved @DateTime.Now.Year - Enzo IT Sollution - Chodkiewicz & Ostrowski</p>
                    <p>"Z nami niepewność zaczyna się wczoraj..."</p>
                </div>
            </div>

        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
